extends ../../main.pug
include ../../components/button/button.pug

block nav
    nav.nav__wrapper
        ul.nav__list
            li.nav__item
                a(href='../chat/chat.pug') Chat
            li.nav__item
                a(href='../profile/profile.pug') Profile
            li.nav__item_active
                a(href=`../login/login.pug`) Login
            li.nav__item
                a(href='../registration/registration.pug') Registration
            li.nav__item
                a(href='../500/500.pug') 500
            li.nav__item
                a(href='../404/404.pug') 404


block content
    section.login
        h2.login__title='Вход'
        form.form
            label.form__label(for='login') Логин
                input.form__input(
                    type='text'
                    name='login'
                    id='login'
                    value='ivanivanov'
                )
            label.form__label(for='password') Пароль
                input.form__input(
                    type='password'
                    name='password'
                    id='password'
                    value='123456789'
                )
            button.login__button Авторизоваться
        +Link('Нет аккаунта?')(href="~/src/pages/registration/registration.pug")

append scripts
    script(src="./login.js" type='module')
