<main class='login'>
  <div class='login__wrapper'>
    <form class='login__form-wrapper'>
      <h1 class='login__form-wrapper_title'>Вход</h1>
      {{{labelLoginField}}}
      {{{loginField}}}
      {{{labelPasswordField}}}
      {{{passwordField}}}

      <div class='login__button'>
        {{{buttonLogin}}}
        {{{buttonReg}}}
      </div>
      <div class='input-error'></div>
    </form>
  </div>
</main>
