<main>
  <div class='profile-wrapper'>
    <div class='profile-avatar'></div>
    <p class='profile-name'>{{user.name}} {{user.second_name}}</p>
    <div class='profile-data'>
      <ul class='profile-data_list'>
        <li class='profile-data-item'>{{{emailField}}}</li>
        <li class='profile-data-item'>{{{loginField}}}</li>
        <li class='profile-data-item'>{{{firstNameField}}}</li>
        <li class='profile-data-item'>{{{secondNameField}}}</li>
        <li class='profile-data-item'>{{{nickNameField}}}</li>
        <li class='profile-data-item'>{{{phoneField}}}</li>
      </ul>
      <div class='profile-actions'>
        {{{changeDataButton}}}
        {{{changePassButton}}}
        {{{exitButton}}}
      </div>
    </div>
  </div>
</main>
