extends ../../main
include ../../components/button/button.pug

block nav
    nav.nav__wrapper
        ul.nav__list
            li.nav__item
                a(href='../chat/chat.pug') Chat
            li.nav__item
                a(href='../profile/profile.pug') Profile
            li.nav__item
                a(href=`../login/login.pug`) Login
            li.nav__item_active
                a(href='../registration/registration.pug') Registration
            li.nav__item
                a(href='../500/500.pug') 500
            li.nav__item
                a(href='../404/404.pug') 404


block content
    section.registration
        h2.registration__title='Регистрация'
        form.form
            label.form__label(for='email') Почта
                input.form__input(
                    type='email'
                    name='email'
                    id='email'
                    value='pochta@yandex.ru'
                )
            label.form__label(for='login') Логин
                input.form__input(
                    type='text'
                    name='login'
                    id='login'
                    value='ivanivanov'
                )
            label.form__label(for='firstName') Имя
                input.form__input(
                    type='text'
                    name='first_name'
                    id='firstName'
                    value='Иван'
                )
            label.form__label(for='secondName') Фамилия
                input.form__input(
                    type='text'
                    name='second_name'
                    id='secondName'
                    value='Иванов'
                )
            label.form__label(for='tel') Телефон
                input.form__input(
                    type='tel'
                    name='tel'
                    id='tel'
                    value='+7 (909) 967 30 30'
                )
            label.form__label(for='password') Пароль
                input.form__input(
                    type='password'
                    name='password'
                    id='password'
                    value='123456789'
                )
            label.form__label(for='repassword') Пароль (ещё раз)
                input.form__input(
                    type='password'
                    id='repassword'
                    value='123456789'
                )
            button.registration__button Зарегистрироваться
        +Link('Войти')(href="~/src/pages/login/login.pug")

append scripts
    script(src="./registration.js" type='module')
