<main class='registration'>
  <h1 class='registration__title'>Регистрация</h1>
  <form action='' class='registration__form-wrapper'>
    <div class='registration__form-wrapper_field'>
      {{{labelEmailField}}}
      {{{emailField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelLoginField}}}
      {{{loginField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelFirstNameField}}}
      {{{firstNameField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelSecondNameField}}}
      {{{secondNameField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelPhoneField}}}
      {{{phoneField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelPasswordField}}}
      {{{passwordField}}}
    </div>
    <div class='registration__form-wrapper_field'>
      {{{labelPasswordTwoField}}}
      {{{passwordTwoField}}}
    </div>
    <div class='button-wrapper'>
      {{{submitButton}}}
      {{{loginButton}}}
    </div>
    <div class='input-error'></div>
  </form>
</main>
